li.pokemonsListItem{
    list-style-type: none;
    float: left;
    padding: 10px;
    margin: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.pokemonsListContainer{
    text-align: center;
}

.loadButton{
    text-transform: uppercase;
}